<img src="#" alt="album cover">
<h2>{{album.title}}</h2>
<h3>
  {{#each album.artists}}
<a href="/artist/{{this.id}}">{{this.name}}</a>
  {{/each}}
</h3>
{{!-- // Año de edición --}}
<h4>{{album.year}}</h4>
<h5>{{album.genres}}</h5>
<h5>{{album.styles}}</h5>
{{!-- // Número y nombre de canción --}}
<ul>{{#each album.tracklist}} 
  <li>{{position}} {{title}}</li>
  {{/each}}
</ul>

{{#if review}}
{{#each review}}
<h3>{{this.title}}</h3>
<h4>{{this.rating}}</h4>
<p>{{this.description}}</p>
{{/each}}
{{/if}}

<h3>Guitar Tabs</h3>
{{#each songTabs}}
<a href="http://www.songsterr.com/a/wa/bestMatchForQueryString?s={{this.titleUri}}&a={{../art}}"
  target="_blank">{{this.title}}</a>
{{/each}}

<h3>Nueva Review</h3>
<form action="/review/{{album.id}}" method="post" class="review">
<label>Título de la reseña:
 <input type="text" required = true name="title"></label>
 <label>Rating de este album:
<select name="rate">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
</select>
 </label>
 <label class="description">
   Cuerpo de la reseña <br>
   <textarea name="description" required = true cols= 100 rows = 30 placeholder="Cuerpo de la reseña" ></textarea>
 </label>
 <button>Enviar reseña</button>

</form>