<img src="{{image}}" alt="album image">
<h2>{{album.title}}</h2>
<h3>
  {{#each album.artists}}
<a href="/artist/{{this.id}}">{{this.name}}</a>
  {{/each}}
</h3>

{{!-- // Año de edición --}}
<h5>Genre: {{album.genres}}</h5>
<h5>Style: {{album.styles}}</h5>
<h5>Year: {{album.year}}</h5>

{{!-- // Número y nombre de canción --}}
<h5>Tracklist:</h5>
<ul>{{#each album.tracklist}} 
  <li>{{position}} {{title}}</li>
  {{/each}}
</ul>

{{!-- Guitar Tabs§ --}}
<h5>Guitar Tabs</h5>
<ul>
{{#each songTabs}}
<li>
<a href="http://www.songsterr.com/a/wa/bestMatchForQueryString?s={{this.titleUri}}&a={{../art}}"
  target="_blank">{{this.title}}</a>
</li>
{{/each}}
</ul>

{{!-- Bass Tabs --}}
<h5>Bass Tabs</h5>
<ul>
{{#each songTabs}}
<li>
<a href="http://www.songsterr.com/a/wa/bestMatchForQueryString?s={{this.titleUri}}&a={{../art}}&inst=bass"
  target="_blank">{{this.title}}</a>
</li>
{{/each}}
</ul>

{{!-- Review --}}
{{#if review}}
{{#each review}}
<h3>{{this.title}}</h3>
<h4>{{this.rating}}</h4>
<p>{{this.description}}</p>
{{/each}}
{{/if}}

<h5>Add a review</h5>
<form action="/review/{{album.id}}" method="post" class="review">
<label>Title:
 <input type="text" required = true name="title"></label>
 <label>Rating:
<select name="rate">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
</select>
 </label>
 <label class="description"><br>
   <textarea name="description" required = true cols= 100 rows = 30></textarea>
 </label>
 <button>Send review</button>

</form>