
<h1>{{this.name}}</h1>
<hr>
<p>{{this.profile}}</p>

  
{{#each this.members}}
<h3>{{this.name}}</h3>
<p>{{this.active}}</p>
{{/each}}
<hr>
<a href="/artist/{{this.idArtist}}/release">enlace a discografía</a>
{{#each this.s}}
<p>{{title}}</p>
<a href="http://www.songsterr.com/a/wa/song?id={{id}}" target="_blank">Song</a>
{{/each}}
