{{#if msg}}
<h3>{{this.msg}}</h3>
<a href="javascript:history.go(-1)">Vuelta atras</a>
{{/if}}
<h1>{{this.name}}</h1>
<hr>
<p>{{this.profile}}</p>

  
{{#each this.members}}
<h3>{{this.name}}</h3>
<p>{{this.active}}</p>
{{/each}}
<hr>
<a href="/artist/{{this.idArtist}}/release">enlace a discografía</a>

