{{#if msg}}
<h3>{{this.msg}}</h3>
  <a href="javascript:history.go(-1)">Back</a>
{{/if}}
<figure>
<img class="bandMainPhoto" src="{{this.image_url}}" alt="artist image">
</figure>
<h1 class="bandName" >{{this.name}}</h1>
<hr>
<p>{{this.profile}}</p>
<hr>
<h2>
  <a href="/release?release_url={{this.release_url}}">Discography</a>
</h2>
<hr>
{{!-- Members   --}}
<div class="container">
<article>
  <h3>Active Members</h3>
    {{#each this.members}}
      {{#if this.active}}
        <h5>{{this.name}}</h5>
      {{/if}}
    {{/each}}
</article>
<article>
  <h3>Past Members</h3>
    {{#each this.members}}
      {{#unless this.active}}
        <h5>{{this.name}}</h5>
      {{/unless}}
    {{/each}}
</article>
</div>

  
