{{#if msg}}
<h3>{{this.msg}}</h3>
<a href="javascript:history.go(-1)">Back</a>
{{/if}}
<img src="{{this.image_url}}" alt="artist image">
<h1>{{this.name}}</h1>
<hr>
<p>{{this.profile}}</p>

{{!-- Members   --}}
<h3>Active Members</h3>
  {{#each this.members}}
    {{#if this.active}}
      <h5>{{this.name}}</h5>
    {{/if}}
  {{/each}}
<h3>Past Members</h3>
  {{#each this.members}}
    {{#unless this.active}}
      <h5>{{this.name}}</h5>
    {{/unless}}
  {{/each}}
<hr>
<h2><a href="/artist/{{this.idArtist}}/release">Discography</a>
</h2>
{{#each this.s}}
<p>{{title}}</p>
<a href="http://www.songsterr.com/a/wa/song?id={{id}}" target="_blank">Song</a>
{{/each}}
