{{#if msg}}
<h3>{{this.msg}}</h3>
<a href="javascript:history.go(-1)">Back</a>
{{/if}}
{{#each this.releases}}
<section>
  {{#if this.urlHbs}}
  <a href="{{this.urlHbs}}"><img src="{{this.thumb}}" alt="image"> {{this.title}}</a> 
  <p>{{this.year}}</p>
  {{/if}}
</section>
{{/each}}