{{!-- <h1>{{title}}</h1> --}}

{{!-- Artists --}}
<div class="container">
    <h2>Artists</h2><br>
      {{#each artist}}
        {{#if this}}         
            <article class="item artClass">
             <a href="/artist?artistId={{this.idArtist}}&image={{this.image_url:}}">
              <img class="bandPhoto alineadoTextoImagenAbajo" src="{{this.image_url}}" alt="artist image"><h3>{{this.name}}</h3>
             </a>
            </article>
        {{/if}}         
      {{/each}}

{{!-- Reviews --}}
          <h2>Latest reviews</h2>
    
      {{#each review}}
      <div class="reviewBlock" >
      <a href="/albums?masterId={{this.idAlbum}}"><h3>{{this.title}}</h3></a>
      {{#if this}}
      <li>  
        <p class="rating" >{{this.rating}}/10</p>
        <p>{{this.description }}</p>
      </li>
      </div>
      {{/if}}
      {{/each}}
  
  {{!-- <article class="item">
    <h2>Albums</h2>
        <ul>
          {{#each found}}
            {{#if this}}
              <li><a href="{{this.release_url}}">{{this.name}}</a></li>
            {{/if}}
          {{/each}}
        </ul> --}}
  {{!-- </article>
  <article class="item artColor">
    <h2>Labels</h2>
      <ul>
        <li><a href="/labels">Labels</a></li>
      </ul>
  </article> --}}
</div>

