{{!-- <h1>{{title}}</h1> --}}
<div class="container">
  <article>
    <h2>Last Artist Search</h2>
      {{#each found}}
        {{#if this}}
          <ul>
            <li>
            <a href="/artist?artistId={{this.idArtist}}&image={{this.cover_image}}"><img src="{{image_url}}" alt="artist image">{{this.name}}</a>
            </li>
        {{/if}}
          </ul>
      {{/each}}
  </article>
  <article>
    <h2>Albums</h2>
        <ul>
          {{#each found}}
            {{#if this}}
              <li><a href="{{this.release_url}}">discografía de {{this.name}}</a></li>
            {{/if}}
          {{/each}}
        </ul>
  </article>
</div>

