{{!-- <h1>{{title}}</h1> --}}
<div class="container">
  <article class="item">
    <h2>Artists</h2>
      {{#each artist}}
        {{#if this}}
          <ul>
            <li>
             <a href="/artist?artistId={{this.idArtist}}&image={{this.cover_image}}">
              <img class="bandPhoto" src="{{image_url}}" alt="artist image"><span>{{this.name}}</span>
             </a>
            </li>
        {{/if}}
          </ul>
      {{/each}}
  </article>
  
    
  <article class="item">    
    <h2>Latest reviews</h2>
      <ul>
        {{#each review}}
        <a href="/albums?masterId={{this.idAlbum}}">enlace al album de la review</a>
        {{#if this}}
        <li><h3>{{this.title}}</h3>
        <p>{{this.rating}}</p>
        <p>{{this.description }}</p></li>
        {{/if}}
        {{/each}}
      </ul>
  </article>
</div>

