{{!-- <h1>{{title}}</h1> --}}
<div class="container">
  <article class="item">
    <h2>Artists</h2>
      {{#each found}}
        {{#if this}}
          <ul>
            <li>
             <a href="/artist?artistId={{this.idArtist}}&image={{this.cover_image}}">
              <img class="bandPhoto" src="{{image_url}}" alt="artist image"><span>{{this.name}}</span>
             </a>
            </li>
        {{/if}}
          </ul>
      {{/each}}
  </article>
  <article class="item">
    <h2>Albums</h2>
        <ul>
          {{#each arr}}
            {{#if this}}
              <li><a href="{{this.releases_url}}">discografía de {{this.name}}</a></li>
            {{/if}}
          {{/each}}
        </ul>
  </article>
  <article class="item">
    <h2>Labels</h2>
      <ul>
        <li><a href="/labels">Labels</a></li>
      </ul>
  </article>
  <article class="item">    
    <h2>Latest reviews</h2>
      <ul>
        <li><a href="/latestreview">Reviews</a></li>
      </ul>
  </article>
</div>

